In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import seaborn as sns

#### Importação

In [2]:
#Importar o arquivo
df_ef1 = pd.read_csv('/home/rogerio/Downloads/INEP/2021/DADOS_INEP_EF_AI.csv', encoding="latin-1", sep = ';')
df_ef2 = pd.read_csv('/home/rogerio/Downloads/INEP/2021/DADOS_INEP_EF_AF.csv', encoding="latin-1", sep = ';')

#Definir a meta do IDEB para a etapa do ensino
#meta_ideb_ef1 = 6.0
#meta_ideb_ef2 = 5.5
meta_ideb_ef1 = 5.8
meta_ideb_ef2 = 5.1

In [3]:
#print(len(df_ef1.index) + len(df_ef2.index))
df_ef1

,ID_ESCOLA,TX_APR,TX_REP,TX_ABD,TNR,TDI,IRD,IED_NIVEL1,IED_NIVEL2,IED_NIVEL3,...,QT_TUR_MED,QT_TUR_PROF,QT_TUR_PROF_TEC,QT_TUR_EJA,QT_TUR_EJA_FUND,QT_TUR_EJA_MED,QT_TUR_ESP,QT_TUR_ESP_CC,QT_TUR_ESP_CE,VL_OBSERVADO_2021
0,11024682,"100,0","0,0","0,0","2,0","4,0","2,8","33,4","33,3","0,0",...,27,0,0,0,0,0,20,20,0,"5,9"
1,11024828,"100,0","0,0","0,0","9,5","0,0","2,7","75,0","0,0","0,0",...,0,0,0,0,0,0,1,1,0,"4,1"
2,11025077,"67,5","32,5","0,0","7,0","4,5","3,2","50,0","0,0","0,0",...,0,0,0,0,0,0,3,3,0,"2,7"
3,11025352,"96,9","3,1","0,0","1,5","4,5","3,4","50,0","0,0","0,0",...,0,0,0,0,0,0,4,4,0,"4,1"
4,11025620,"78,9","21,1","0,0","17,4","60,0","3,0","50,0","0,0","0,0",...,0,0,0,0,0,0,7,7,0,"3,5"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32279,53068165,"96,6","3,4","0,0","2,0","5,8","3,1","50,0","40,0","6,7",...,0,0,0,0,0,0,15,15,0,"5,2"
32280,53068173,"96,0","4,0","0,0","2,9","9,5","2,3","75,0","25,0","0,0",...,0,0,0,0,0,0,8,7,1,"5,9"
32281,53068203,"96,2","3,8","0,0","2,8","11,5","3,2","32,1","67,9","0,0",...,0,0,0,0,0,0,11,11,0,"5,2"
32282,53068220,"93,1","6,9","0,0","2,9","13,3","2,8","35,0","65,0","0,0",...,0,0,0,0,0,0,5,5,0,"6,1"
32283,53068238,"98,0","2,0","0,0","1,5","7,7","2,4","34,3","57,1","2,9",...,0,0,0,0,0,0,13,10,3,"6,2"

#### Pré-processamento

In [4]:
## ENSINO FUNDAMENTAL - ANOS INICIAIS ##############################################################
#Exclui colunas cadastrais
df_ef1.drop(['ID_ESCOLA','NU_ANO_CENSO','SG_UF','NO_MUNICIPIO','CO_MUNICIPIO','NO_ENTIDADE','DT_ANO_LETIVO_INICIO','DT_ANO_LETIVO_TERMINO'], axis=1, inplace=True)

#Transformando em zeros colunas com '--'
df_ef1 = df_ef1.replace('--', '0', regex=True)

#Transformação necessária, alterar o valor não informado (88888.000000) por zero
df_ef1 = df_ef1.replace(88888, 0, regex=True)

#mudando o separador decimal para '.' e convertendo o tipo para float
df_ef1 = df_ef1.replace(',', '.', regex=True).astype(float)

#Resetando o índice
df_ef1.reset_index(drop=True, inplace=True)


## ENSINO FUNDAMENTAL - ANOS FINAIS ##############################################################
#Exclui colunas cadastrais
df_ef2.drop(['ID_ESCOLA','NU_ANO_CENSO','SG_UF','NO_MUNICIPIO','CO_MUNICIPIO','NO_ENTIDADE','DT_ANO_LETIVO_INICIO','DT_ANO_LETIVO_TERMINO'], axis=1, inplace=True)

#Transformando em zeros colunas com '--'
df_ef2 = df_ef2.replace('--', '0', regex=True)

#Transformação necessária, alterar o valor não informado (88888.000000) por zero
df_ef2 = df_ef2.replace(88888, 0, regex=True)

#mudando o separador decimal para '.' e convertendo o tipo para float
df_ef2 = df_ef2.replace(',', '.', regex=True).astype(float)

#Resetando o índice
df_ef2.reset_index(drop=True, inplace=True)

In [5]:
#Transformar o IDEB na coluna com a classe 1 (atingiu o IDEB de 2021) ou 0 (não atingiu o ideb de 2021)
df_ef1["VL_OBSERVADO_2021"] = np.where(df_ef1['VL_OBSERVADO_2021']>= meta_ideb_ef1, 1, 0)
print(df_ef1['VL_OBSERVADO_2021'].value_counts())

0    18696
1    13588
Name: VL_OBSERVADO_2021, dtype: int64

In [6]:
#Transformar o IDEB na coluna com a classe 1 (atingiu o IDEB de 2021) ou 0 (não atingiu o ideb de 2021)
df_ef2["VL_OBSERVADO_2021"] = np.where(df_ef2['VL_OBSERVADO_2021']>= meta_ideb_ef2, 1, 0)
print(df_ef2['VL_OBSERVADO_2021'].value_counts())

0    12259
1     9733
Name: VL_OBSERVADO_2021, dtype: int64

In [7]:
#df.to_csv('EF.csv', encoding="latin-1", sep = ';', index=False)

In [8]:
#Junta os dataframes em um só
df = pd.concat([df_ef1, df_ef2], axis=0)

#Exclusão de colunas
df.drop(['IN_INF', 'IN_INF_CRE', 'IN_INF_PRE', 'IN_BAS', 'IN_FUND_AI', 'IN_FUND_AF', 'IN_MED', 'QT_MAT_INF', 'QT_MAT_INF_CRE', 'QT_MAT_INF_PRE', 'QT_MAT_BAS', 'QT_MAT_FUND_AI', 'QT_MAT_FUND_AF', 'QT_MAT_MED', 'QT_MAT_PROF', 'QT_MAT_PROF_TEC', 'QT_MAT_EJA', 'QT_MAT_EJA_FUND', 'QT_MAT_EJA_MED', 'QT_MAT_ESP', 'QT_MAT_ESP_CC', 'QT_MAT_ESP_CE', 'QT_MAT_BAS_0_3', 'QT_MAT_BAS_4_5', 'QT_MAT_BAS_6_10', 'QT_MAT_BAS_11_14', 'QT_MAT_BAS_15_17', 'QT_MAT_BAS_18_MAIS', 'QT_DOC_BAS', 'QT_DOC_INF_CRE', 'QT_DOC_INF_PRE', 'QT_DOC_FUND_AI', 'QT_DOC_FUND_AF', 'QT_DOC_MED', 'QT_TUR_BAS', 'QT_TUR_INF_CRE', 'QT_TUR_INF_PRE', 'QT_TUR_FUND', 'QT_TUR_FUND_AI', 'QT_TUR_FUND_AF', 'QT_TUR_MED', 'QT_MAT_INF_INT','QT_MAT_INF_CRE_INT','QT_MAT_INF_PRE_INT','QT_MAT_FUND_AI_INT','QT_MAT_FUND_AF_INT','QT_MAT_MED_INT'], axis=1, inplace=True)

#Exclusão de mais colunas
df.drop(['QT_MAT_BAS_D','QT_MAT_BAS_N','QT_MAT_BAS_EAD','QT_MAT_BAS_ND','QT_MAT_BAS_BRANCA','QT_MAT_BAS_PRETA','QT_MAT_BAS_PARDA','QT_MAT_BAS_AMARELA','QT_MAT_BAS_INDIGENA','QT_MAT_BAS_FEM','QT_MAT_BAS_MASC'], axis=1, inplace=True)

df.reset_index(drop=True, inplace=True)

df

,TX_APR,TX_REP,TX_ABD,TNR,TDI,IRD,IED_NIVEL1,IED_NIVEL2,IED_NIVEL3,IED_NIVEL4,...,QT_TUR_INF,QT_TUR_PROF,QT_TUR_PROF_TEC,QT_TUR_EJA,QT_TUR_EJA_FUND,QT_TUR_EJA_MED,QT_TUR_ESP,QT_TUR_ESP_CC,QT_TUR_ESP_CE,VL_OBSERVADO_2021
0,100.0,0.0,0.0,2.0,4.0,2.8,33.4,33.3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,20.0,20.0,0.0,1
1,100.0,0.0,0.0,9.5,0.0,2.7,75.0,0.0,0.0,25.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0
2,67.5,32.5,0.0,7.0,4.5,3.2,50.0,0.0,0.0,50.0,...,1.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0,0
3,96.9,3.1,0.0,1.5,4.5,3.4,50.0,0.0,0.0,50.0,...,1.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0
4,78.9,21.1,0.0,17.4,60.0,3.0,50.0,0.0,0.0,50.0,...,0.0,0.0,0.0,0.0,0.0,0.0,7.0,7.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54271,94.7,5.3,0.0,4.5,32.4,2.4,0.0,2.2,76.6,8.5,...,0.0,0.0,0.0,16.0,10.0,6.0,33.0,33.0,0.0,0
54272,93.9,4.1,2.0,2.8,37.0,2.5,0.0,0.0,80.5,14.6,...,0.0,0.0,0.0,10.0,0.0,10.0,35.0,35.0,0.0,1
54273,98.4,1.6,0.0,4.8,17.5,1.7,0.0,0.0,85.7,14.3,...,0.0,0.0,0.0,0.0,0.0,0.0,13.0,13.0,0.0,1
54274,96.2,3.8,0.0,3.0,23.9,2.4,0.0,19.2,71.2,7.7,...,0.0,0.0,0.0,0.0,0.0,0.0,23.0,23.0,0.0,0
54275,93.6,6.4,0.0,2.8,26.2,2.5,0.0,7.3,75.6,12.2,...,0.0,0.0,0.0,0.0,0.0,0.0,18.0,18.0,0.0,0

In [9]:
#Número de escolas que atingiram ou não o IDEB
print(df['VL_OBSERVADO_2021'].value_counts())

0    30955
1    23321
Name: VL_OBSERVADO_2021, dtype: int64

In [ ]:
#Balancear as classes, excluindo um percentual de escolas que não atingiram o IDEB
#df = df.drop(df[df['VL_OBSERVADO_2021'] == 0].sample(frac=.2466).index)
#df.reset_index(inplace=True, drop=True)
#print(df['VL_OBSERVADO_2021'].value_counts())
#df

In [ ]:
# Cria o objeto scaler
#scaler = preprocessing.MinMaxScaler()

# Transformar os atributos
#df[col_interesse] = pd.DataFrame(scaler.fit_transform(df[col_interesse]))
#df.columns = col_names
#df

In [ ]:
#Salvar os dados
#df.to_csv('/home/rogerio/Downloads/INEP/2021/IDEB_EM.csv', sep=';', index=False, encoding='latin-1')

### Divisão entre teste, treinamento e validação

In [10]:
import tensorflow as tf
from sklearn.model_selection import train_test_split

Y = df.loc[:, ["VL_OBSERVADO_2021"]]

#Incluir no X apenas as colunas (de entrada) de interesse
#X = df.loc[:, ["AFD_GRP1","DSU","IED_NIVEL1","IED_NIVEL2","IED_NIVEL3","IED_NIVEL4","IED_NIVEL5","IED_NIVEL6","IRD","QT_PROF_COORDENADOR","QT_PROF_PEDAGOGIA","QT_PROF_MONITORES","QT_DOC_FUND_AI"]]
X = df.drop(["VL_OBSERVADO_2021"], axis=1)

In [11]:
# Cria o objeto scaler, para deixar todas as colunas em uma mesma faixa de valores
scaler = preprocessing.MinMaxScaler()
col_names = X.columns

# Transformar os atributos
X = pd.DataFrame(scaler.fit_transform(X))
X.columns = col_names
X

,TX_APR,TX_REP,TX_ABD,TNR,TDI,IRD,IED_NIVEL1,IED_NIVEL2,IED_NIVEL3,IED_NIVEL4,...,QT_DOC_ESP_CE,QT_TUR_INF,QT_TUR_PROF,QT_TUR_PROF_TEC,QT_TUR_EJA,QT_TUR_EJA_FUND,QT_TUR_EJA_MED,QT_TUR_ESP,QT_TUR_ESP_CC,QT_TUR_ESP_CE
0,1.000000,0.000000,0.000000,0.021142,0.040,0.476190,0.334,0.333,0.000,0.000,...,0.0,0.000000,0.0,0.0,0.000000,0.00000,0.000000,0.307692,0.307692,0.0
1,1.000000,0.000000,0.000000,0.100423,0.000,0.452381,0.750,0.000,0.000,0.250,...,0.0,0.025641,0.0,0.0,0.000000,0.00000,0.000000,0.015385,0.015385,0.0
2,0.556617,0.490196,0.000000,0.073996,0.045,0.571429,0.500,0.000,0.000,0.500,...,0.0,0.025641,0.0,0.0,0.000000,0.00000,0.000000,0.046154,0.046154,0.0
3,0.957708,0.046757,0.000000,0.015856,0.045,0.619048,0.500,0.000,0.000,0.500,...,0.0,0.025641,0.0,0.0,0.000000,0.00000,0.000000,0.061538,0.061538,0.0
4,0.712142,0.318250,0.000000,0.183932,0.600,0.523810,0.500,0.000,0.000,0.500,...,0.0,0.000000,0.0,0.0,0.000000,0.00000,0.000000,0.107692,0.107692,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54271,0.927694,0.079940,0.000000,0.047569,0.324,0.380952,0.000,0.022,0.766,0.085,...,0.0,0.000000,0.0,0.0,0.163265,0.11236,0.109091,0.507692,0.507692,0.0
54272,0.916780,0.061840,0.044248,0.029598,0.370,0.404762,0.000,0.000,0.805,0.146,...,0.0,0.000000,0.0,0.0,0.102041,0.00000,0.181818,0.538462,0.538462,0.0
54273,0.978172,0.024133,0.000000,0.050740,0.175,0.214286,0.000,0.000,0.857,0.143,...,0.0,0.000000,0.0,0.0,0.000000,0.00000,0.000000,0.200000,0.200000,0.0
54274,0.948158,0.057315,0.000000,0.031712,0.239,0.380952,0.000,0.192,0.712,0.077,...,0.0,0.000000,0.0,0.0,0.000000,0.00000,0.000000,0.353846,0.353846,0.0
54275,0.912688,0.096531,0.000000,0.029598,0.262,0.404762,0.000,0.073,0.756,0.122,...,0.0,0.000000,0.0,0.0,0.000000,0.00000,0.000000,0.276923,0.276923,0.0

In [12]:
#Dividir os dados entre Treinamento (70% dos dados) e Teste (30% dos dados)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

#Gerar o conjunto de validação a partir do treinamento
#X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.15, random_state=42)

print(X_train.shape)
print(X_test.shape)
#print(X_val.shape)

(37993, 304)
(16283, 304)

# Calcular a importância das colunas
Usar a biblioteca sklearn.feature_selection para escolher as colunas mais relevantes do conjunto de dados

In [13]:
X_train.reset_index(inplace=True, drop=True)
X_test.reset_index(inplace=True, drop=True)
y_train.reset_index(inplace=True, drop=True)
y_test.reset_index(inplace=True, drop=True)

In [14]:
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier
estimator = RandomForestClassifier(random_state = 42)
selector = RFE(estimator, n_features_to_select=5, step=2)
selector = selector.fit(X_train, y_train.values.ravel())
rfe_mask = selector.get_support() #list of booleans for selected features
new_features = [] 
for bool, feature in zip(rfe_mask, X_train.columns):
    if bool:
        new_features.append(feature)
new_features # The list of your 5 best features

['TX_APR', 'TDI', 'ATU', 'AFD_GRP1', 'QT_MAT_FUND']

In [ ]:
#Colunas mais importantes para o resultado do IDEB:

#5 colunas
#['TDI', 'IED_NIVEL4', 'ATU', 'AFD_GRP1', 'QT_MAT_FUND']

#Portanto, treinar as redes neurais somente com estas colunas

col_interesse = ['TDI', 'IED_NIVEL4', 'ATU', 'AFD_GRP1', 'QT_MAT_FUND']
X_train = X_train.loc[:, ['TDI', 'IED_NIVEL4', 'ATU', 'AFD_GRP1', 'QT_MAT_FUND']]
X_test = X_test.loc[:, ['TDI', 'IED_NIVEL4', 'ATU', 'AFD_GRP1', 'QT_MAT_FUND']]
col_names = X_train.columns
X_train

In [ ]:
print(Y['VL_OBSERVADO_2021'].value_counts())

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras import regularizers

# Define a arquitetura
input_dim = X_train.shape[1]

model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=[input_dim]),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
    ])

model.summary()

In [ ]:
# Compilar o modelo
model.compile(
    #optimizer=tf.keras.optimizers.SGD(learning_rate=0.5),
    optimizer="adam",
    loss="binary_crossentropy", 
    metrics=["accuracy", tf.keras.metrics.Precision(), tf.keras.metrics.Recall()]
)

In [ ]:
history = model.fit(X_train, y_train, epochs=150, 
                    validation_data = (X_test, y_test)
                    #validation_data = (X_val, y_val)
                   )
#hist = pd.DataFrame(history.history)
#hist['epoch'] = history.epoch

In [ ]:
import matplotlib.pyplot as plt
#pd.DataFrame(history.history).plot(figsize=(8, 5))

a = pd.DataFrame(history.history['accuracy'])
b = pd.DataFrame(history.history['val_accuracy'])
result = pd.concat([a, b], axis=1)
result.columns = ['accuracy', 'val_accuracy']
pd.DataFrame(result).plot(figsize=(8, 5))
plt.grid(True)
plt.gca().set_ylim(0, 1)
plt.show()

In [ ]:
# Avaliar o modelo
loss = model.evaluate(X_test, y_test)